// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

& when (@media-common = true) {
    .adobe-sign-in-button {
        border: none;
        margin-right: 3%;
        z-index: 99;
        position: initial;
        box-shadow: none !important;
        float: right;
        margin-top: -50px;
        background: transparent;
    }
    .adobe-profile-small-avatar {
        background-repeat: repeat-x;
        margin-left: 20px;
        margin-bottom: -14px;
        border-radius: 50%;
        width: 8%;
    }
    .user-profile-information {
        margin-left: 100px;
        padding: 10px;
    }

    .adobe-user-credits {
        padding-top: 15px;
    }

    .adobe-profile-avatar {
        float: left;
        width: 30%;
        padding-top: 5px;
        padding-right: 10px;
    }

    .adobe-user-data > li {
        padding-bottom: 5px;
    }

    .adobe-user-data {
        list-style: none;
    }

    .adobe-sign-in-button:hover:active {
        background: transparent;
        color: #007bdb;
    }

    .adobe-user-name {
        box-shadow: none !important;
        border: 0px;
        padding-left: 10px;
    }

    .adobe-sign-out-button {
        float: left;
        margin-top: 20px;
        background: transparent;
        padding-left: 0px;
        border: none;
        padding-bottom: 20px;
    }

    .adobe-user-menu {
        z-index: 282;
        padding-left: 20px;
        right: 190px !important;
        min-width: 10px;
        width: 80%;
    }

    .adobe-sign-out-button:hover {
        background: transparent;
    }

    .adobe-user-information {
        float: right;
        margin-right: -12%;
        margin-top: -54px;
    }
}
