sudo: required
dist: trusty
group: edge
addons:
  apt:
    packages:
      - mysql-server-5.6
      - mysql-client-core-5.6
      - mysql-client-5.6
      - postfix
  chrome: stable
  hosts:
    - magento2.travis
services:
  - rabbitmq
  - elasticsearch
  - mysql
language: php
php:
  - '7.1'
  - '7.2'
  - '7.3'
env:
  global:
    - MAGENTO_HOST_NAME="magento2.travis"
    - MAGENTO_PROTOCOL="https"
    - MAGENTO_BACKEND="backend"
    - MAGENTO_ADMIN_USERNAME="admin"
    - MAGENTO_ADMIN_PASSWORD="123123q"
  matrix:
    - TEST_SUITE=unit
    - TEST_SUITE=phpstan
    - TEST_SUITE=static
    # List out subsets of functional tests to run separately to fit under travis timeout (50mins)
    # TODO: this is hacky, is there a better way?
    - TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_filters
    - TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_grid
    - TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_preview
    - TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_configuration
    - TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_keywords
    - TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_ims
    - TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_see_more
matrix:
  fast_finish: true
jobs:
  # only run MFTF tests on PHP 7.3
  exclude:
    - php: '7.1'
      env: TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_filters
    - php: '7.1'
      env: TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_grid
    - php: '7.1'
      env: TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_preview
    - php: '7.1'
      env: TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_configuration
    - php: '7.1'
      env: TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_keywords
    - php: '7.1'
      env: TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_ims
    - php: '7.1'
      env: TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_see_more
    - php: '7.2'
      env: TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_filters
    - php: '7.2'
      env: TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_grid
    - php: '7.2'
      env: TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_preview
    - php: '7.2'
      env: TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_configuration
    - php: '7.2'
      env: TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_keywords
    - php: '7.2'
      env: TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_ims
    - php: '7.2'
      env: TEST_SUITE=functional MFTF_SUITE=adobe_stock_integration_suite_see_more
cache:
  directories:
    - $HOME/.composer/cache
    # cache location of webdrivers for MFTF (chromedriver, geckdriver, etc)
    - $HOME/drivers
before_install:
  - bash -x dev/travis/before_install.sh
install:
  - mkdir -p magento2/app/code/Magento
  - mv Adobe* magento2/app/code/Magento/.
  - pushd magento2
  - composer install
  - composer require astock/stock-api-libphp
  - popd
before_script:
  - bash -x dev/travis/before_script.sh
script:
  - pushd magento2
  - if [ $TEST_SUITE == 'unit' ]; then vendor/bin/phpunit --configuration dev/tests/unit/phpunit.xml; fi
  - if [ $TEST_SUITE == 'phpstan' ]; then composer require --dev phpstan/phpstan fooman/phpstan-magento2-magic-methods && vendor/bin/phpstan analyse -l 2 app/code/Magento/Adobe* -a dev/tests/api-functional/framework/autoload.php ; fi
  - if [ $TEST_SUITE == 'static' ]; then vendor/bin/phpcs --standard=dev/tests/static/framework/Magento/ app/code/Magento/Adobe*; fi
  - if [ $TEST_SUITE == 'static' ]; then ! find app/code/Magento/Adobe*/ -type f -name "*.php" -exec grep -L strict_types=1 {} + | grep Adobe; fi
  - if [ $TEST_SUITE == 'functional' ]; then echo "Running MFTF suite ${MFTF_SUITE}" && vendor/bin/mftf run:group $MFTF_SUITE --remove -vvv; fi
after_success:
  - if [ $TEST_SUITE == 'unit' ]; then cd ../ && travis_retry coveralls; fi
after_failure:
  - if [ $TEST_SUITE == 'functional' ]; then cat "${HOME}/selenium.log"; cat "${TRAVIS_BUILD_DIR}/chromedriver.log"; cat "${TRAVIS_BUILD_DIR}/magento2/var/log/debug.log"; cat "${TRAVIS_BUILD_DIR}/magento2/var/log/system.log"; ls -al "${TRAVIS_BUILD_DIR}/magento2/dev/tests/acceptance/tests/_output";fi
