<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-role="grid-wrapper" ko-style="containerStyles" attr="'data-id': containerId">
    <div class="masonry-image-column">
        <!-- ko foreach: { data: images, as: 'row' } -->
            <div class="masonry-image-block" ko-style="row.styles" attr="'data-id': row.id">
                <img attr="src: row.src">
            </div>
        <!-- /ko -->
        <div if="images().length === 0" class="a-center" translate="'We could not find any records.'"/>
    </div>
</div>
