<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<button
    class="adobe-sign-in-button"
    id="adobeImsSignIn"
    data-role="signInBtn"
    click="loginClick"
    visible="!user().isAuthorized"
    type="button">
    <span>Sign In</span>
</button>
<div class="adobe-user-information">
    <div class="admin__action-dropdown-wrap" data-bind="collapsible">
        <img class="adobe-profile-image-small"
             attr="src: user().image"
             visible="user().isAuthorized"/>
        <button
            type="button"
            data-toggle="dropdown"
            class="adobe-user-name admin__action-dropdown"
            visible="user().isAuthorized"
            data-bind="toggleCollapsible">
            <span text="user().name"></span>
        </button>
        <ul class="admin__action-dropdown-menu adobe-user-popup" visible="user().isAuthorized">
            <li>
                <img class="adobe-profile-image-large" attr="src: user().image">
            </li>
            <li class="adobe-user-info">
                <ul>
                    <li><!--ko text: user().name--><!--/ko--></li>
                    <li><!--ko text: user().email--><!--/ko--></li>
                    <li><a target="_blank" href="https://account.adobe.com/profile">Manage Account</a></li>
                </ul>
            </li>
            <li>
                <div class="adobe-user-info">
                    <span>AVAILABLE</span>
                    <p><b><!--ko text: userQuota().images--><!--/ko--></b> Images | <b><!--ko text: userQuota().credits -->
                        <!--/ko--></b> Credits</p>
                </div>
                <button
                        class="adobe-sign-out-button"
                        id="adobeImsSignOut"
                        click="logout"
                        data-bind="visible: !isGlobalSignInEnabled"
                        data-role="signOutBtn"
                        type="button">
                    <span>Sign Out</span>
                </button>
            </li>
        </ul>
    </div>
</div>
