<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\MediaGalleryMetadataApi\Api\Data\MetadataInterface" type="Magento\MediaGalleryMetadata\Model\Metadata"/>
    <preference for="Magento\MediaGalleryMetadataApi\Api\AddMetadataInterface" type="Magento\MediaGalleryMetadata\Model\File\AddMetadata"/>
    <preference for="Magento\MediaGalleryMetadataApi\Api\ExtractMetadataInterface" type="Magento\MediaGalleryMetadata\Model\File\ExtractMetadata"/>
    <preference for="Magento\MediaGalleryMetadataApi\Model\FileInterface" type="Magento\MediaGalleryMetadata\Model\File"/>
    <preference for="Magento\MediaGalleryMetadataApi\Model\SegmentInterface" type="Magento\MediaGalleryMetadata\Model\Segment"/>
    <type name="Magento\MediaGalleryMetadata\Model\File\ExtractMetadata">
        <arguments>
            <argument name="metadataExtractors" xsi:type="array">
               <item name="jpeg" xsi:type="array">
                    <item name="fileReaders" xsi:type="array">
                        <item name="fileReader" xsi:type="object">Magento\MediaGalleryMetadata\Model\Jpeg\FileReader</item>
                    </item>
                    <item name="segmentReaders" xsi:type="array">
                        <item name="xmp" xsi:type="object">Magento\MediaGalleryMetadata\Model\Jpeg\Segment\XmpReader</item>
                        <item name="iptc" xsi:type="object">Magento\MediaGalleryMetadata\Model\Jpeg\Segment\IptcReader</item>
                    </item>
                </item>
                <item name="png" xsi:type="array">
                      <item name="fileReaders" xsi:type="array">
                          <item name="fileReader" xsi:type="object">Magento\MediaGalleryMetadata\Model\Png\FileReader</item>
                      </item>
                    <item name="segmentReaders" xsi:type="array">
                        <item name="xmp" xsi:type="object">Magento\MediaGalleryMetadata\Model\Png\Segment\XmpReader</item>
                    </item>
                </item>
                <item name="gif" xsi:type="array">
                      <item name="fileReaders" xsi:type="array">
                          <item name="fileReader" xsi:type="object">Magento\MediaGalleryMetadata\Model\Gif\FileReader</item>
                      </item>
                    <item name="segmentReaders" xsi:type="array">
                        <item name="xmp" xsi:type="object">Magento\MediaGalleryMetadata\Model\Gif\Segment\XmpReader</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type  name="Magento\MediaGalleryMetadata\Model\File\AddMetadata">
        <arguments>
            <argument name="metadataWriters" xsi:type="array">
                <item name="jpeg" xsi:type="array">
                    <item name="fileReaders" xsi:type="array">
                        <item name="fileReader" xsi:type="object">Magento\MediaGalleryMetadata\Model\Jpeg\FileReader</item>
                    </item>
                    <item name="fileWriters" xsi:type="array">
                        <item name="jpegFileWriter" xsi:type="object">Magento\MediaGalleryMetadata\Model\Jpeg\FileWriter</item>
                    </item>
                    <item name="segmentWriters" xsi:type="array">
                        <item name="xmp" xsi:type="object">Magento\MediaGalleryMetadata\Model\Jpeg\Segment\XmpWriter</item>
                        <item name="iptc" xsi:type="object">Magento\MediaGalleryMetadata\Model\Jpeg\Segment\IptcWriter</item>
                    </item>
                </item>
                <item name="png" xsi:type="array">
                      <item name="fileReaders" xsi:type="array">
                          <item name="fileReader" xsi:type="object">Magento\MediaGalleryMetadata\Model\Png\FileReader</item>
                      </item>
                      <item name="fileWriters" xsi:type="array">
                          <item name="fileWriter" xsi:type="object">Magento\MediaGalleryMetadata\Model\Png\FileWriter</item>
                      </item>
                    <item name="segmentWriters" xsi:type="array">
                        <item name="xmp" xsi:type="object">Magento\MediaGalleryMetadata\Model\Png\Segment\XmpWriter</item>
                    </item>
                </item>
                <item name="gif" xsi:type="array">
                      <item name="fileReaders" xsi:type="array">
                          <item name="fileReader" xsi:type="object">Magento\MediaGalleryMetadata\Model\Gif\FileReader</item>
                      </item>
                      <item name="fileWriters" xsi:type="array">
                          <item name="fileWriter" xsi:type="object">Magento\MediaGalleryMetadata\Model\Gif\FileWriter</item>
                      </item>
                    <item name="segmentWriters" xsi:type="array">
                        <item name="xmp" xsi:type="object">Magento\MediaGalleryMetadata\Model\Gif\Segment\XmpWriter</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
