<!--
    /**
    * Copyright © Magento, Inc. All rights reserved.
    * See COPYING.txt for license details.
    */
-->
<div class="media-gallery-wrap" collapsible>
    <div class="media-gallery-image">
        <div data-row="file"
             class="masonry-image-block media-gallery-image-block"
             attr="'data-id': $col.getId($row())"
             css="{ selected: isSelected($row()) }"
             click="function(){ clickOnImage($row(), $collapsible.opened()) }"
        >
            <img attr="src: $col.getUrl($row()), alt: $col.getImageAlt($row())"
                 class="media-gallery-image-column"
                 data-role="thumbnail"/>
        </div>
        <ul class="action-menu" css="_active: $collapsible.opened">
            <!-- ko scope: actions -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </ul>
    </div>
    <div class="masonry-image-description">
        <ul class="media-gallery-image-details">
            <li class="name" data-ui-id="title" data-bind="text: $row().title"></li>
            <li class="source">
                <img if="$row().source" class="adobe-stock-icon" data-bind="attr: { src: $row().source }" />
            </li>
            <li class="type" data-ui-id="content-type" data-bind="text: $row().content_type"></li> &#8226;
            <li class="dimensions" data-ui-id="dimensions" data-bind="text: $row().width + 'x' + $row().height"></li>
        </ul>
        <div class="media-gallery-image-actions">
            <div class="action-select-wrap">
                <span class="three-dots"
                      toggleCollapsible
                      click="function () { clickOnThreeDots($row(), $collapsible.opened()); }"></span>
            </div>
        </div>
    </div>
</div>
