<!--
    /**
    * Copyright © Magento, Inc. All rights reserved.
    * See COPYING.txt for license details.
    */
-->
<div class="media-gallery-image">
    <div class="masonry-image-block media-gallery-image-block" attr="'data-id': $col.getId($row())">
        <img attr="src: $col.getUrl($row())" class="media-gallery-image-column" css="$col.getClasses($row())" click="function(){ expandPreview($row()) }" data-role="thumbnail"/>
    </div>
</div>
<div class="masonry-image-description">
    <ul class="media-gallery-image-details">
        <li class="name" data-bind="text: $col.getName($row())"></li>
        <li class="source"><img if="$col.getSource($row())" class="adobe-stock-icon" data-bind="attr: {src: $col.getSource($row())}" /></li>
        <li class="type" data-bind="text: $col.getContentType($row())"></li> &#8226; 
        <li class="dimensions" data-bind="text: $col.getDimensions($row())"></li>
    </ul>
</div>
