/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

& when (@media-common = true) {
    .admin__field.media-gallery-date-filter {
        .admin__field-label {
            font-weight: bold;
            margin: 0 0 .3rem;
            text-align: left;
            font-size: 1.3rem;
            line-height: normal;
        }
    }
}
