/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

& when (@media-common = true) {

    .media_gallery-index-index {

        .media-gallery-image-overlay {
            margin-left: 120px;
            background-color: #d9631c;
            margin-top: 170px;
            font-size: 11px;
            padding: .3rem;
        }

        .media-gallery-image-details {
            list-style: none;
            margin-bottom: 0px;

            .name {
                font-weight: bold;
                font-size: 15px;
                font-weight: bold;
            }

            .type {
                display: inline-block;
                font-size: 12px;
            }

            .dimensions {
                display: inline-block;
            }

            .source {
                display: inline-block;
            }
        }

        .media-gallery-image {
            text-align: center;
            margin: 0 auto;
            width: 200px;
            height: 200px;
        }

        .masonry-image-description {
            min-height: 90px;
            background-color: white;
            padding-top: 10px;
        }

        .masonry-image-column {
            width: 200px;
            background-color: #e1e1e1 !important;
        }

        .media-gallery-image-block {
            padding: 25px;
            margin: 0 auto;
            height: 200px;
        }

        .media-gallery-image img {
            object-fit: cover;
        }

        .adobe-stock-icon {
            width: 29px !important;
            margin-bottom: -6px;
        }
    }
}
