<button
    class="adobe-sign-in-button"
    id="adobeImsSignIn"
    data-role="signInBtn"
    data-bind="click: execute, visible: visibility"
    type="button">
    <span>Sign In</span>
</button>
<div class="adobe-user-information">
    <div class="admin__action-dropdown-wrap" data-bind="collapsible">
        <button
            id="adobe-ims-user-name"
            type="button"
            data-toggle="dropdown"
            class="adobe-user-name admin__action-dropdown"
            data-bind="visible: nameVisibility, toggleCollapsible">
            <span><!--ko text: displayName--><!--/ko--></span>
        </button>
        <ul class="admin__action-dropdown-menu adobe-user-menu" data-bind="visible: nameVisibility">
            <li class="user-profile-information">
                <ul class="adobe-user-data">
                    <li><!--ko text: fullName--><!--/ko--></li>
                    <li><!--ko text: email--><!--/ko--></li>
                    <li><a target="_blank" href="https://account.adobe.com/profile">Manage Account</a></li>
                </ul>
            </li>
            <li>
                <div class="adobe-user-credits">
                    <span>AVAILABLE</span>
                    <p><b><!--ko text: imagesAvailable--><!--/ko--></b> images | <b><!--ko text: credits-->
                        <!--/ko--></b> Credits</p>
                </div>
                <button
                    class="adobe-sign-out-button"
                    id="adobeImsSignOut"
                    data-bind="click: signOut"
                    data-role="signOutBtn"
                    type="button">
                    <span>Sign Out</span>
                </button>
            </li>
        </ul>
    </div>
</div>
