// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

& when (@media-common = true) {
    .masonry-image-column {
        position: relative;
        margin: 20px 0 20px 0;
    }
    .masonry-image-block {
        background-color: #D5D5D5;
        overflow: hidden;
        left: 0;
        position: absolute;
        top: 0;
        margin: 0;
    }
    .masonry-image-block img {
        left: 0;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }
}

.admin__form-field{
    .colorpicker-input{
        min-width: 18.83rem;
    }
}

.masonry-sorting {
    select {
        border: none;
        background-image: url(../images/arrows-bg.svg);
        padding-right: 2.2rem;
        margin-right: 1.4rem;
        &:active {
            background-image+: url('../images/arrows-bg.svg');
        }
    }
}