<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\MediaGalleryRenditionsApi\Api\GenerateRenditionsInterface" type="Magento\MediaGalleryRenditions\Model\GenerateRenditions"/>
    <preference for="Magento\MediaGalleryRenditionsApi\Api\GetRenditionPathInterface" type="Magento\MediaGalleryRenditions\Model\GetRenditionPath"/>
    <type name="Magento\MediaGallerySynchronizationApi\Model\ImportFilesComposite">
        <plugin name="generate_rendtions" type="Magento\MediaGalleryRenditions\Plugin\CreateRenditions"/>
    </type>
    <type name="Magento\Cms\Model\Wysiwyg\Images\GetInsertImageContent">
        <plugin name="set_rendition_path" type="Magento\MediaGalleryRenditions\Plugin\SetRenditionPath"/>
    </type>
    <type name="Magento\MediaContent\Model\ExtractAssetsFromContent">
        <plugin name="decode_special_chars_before_extract" type="Magento\MediaGalleryRenditions\Plugin\DecodeSpecialCharsBeforeExtract"/>
    </type>
</config>
