<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\AdobeStockImageApi\Api\GetImageListInterface" type="Magento\AdobeStockImage\Model\GetImageList"/>
    <preference for="Magento\AdobeStockImageApi\Api\SaveImageInterface" type="Magento\AdobeStockImage\Model\SaveImage"/>
    <preference for="Magento\AdobeStockImageApi\Api\SaveLicensedImageInterface" type="Magento\AdobeStockImage\Model\SaveLicensedImage"/>
    <preference for="Magento\AdobeStockImageApi\Api\GetRelatedImagesInterface" type="Magento\AdobeStockImage\Model\GetRelatedImages"/>
    <preference for="Magento\AdobeStockImageApi\Api\ConfigInterface" type="Magento\AdobeStockImage\Model\Config"/>
    <type name="Magento\AdobeStockImage\Model\GetImageList">
        <arguments>
            <argument name="defaultFilters" xsi:type="array">
                <item name="illustration_filter" xsi:type="array">
                    <item name="type" xsi:type="string">content_type_filter</item>
                    <item name="condition" xsi:type="string">or</item>
                    <item name="field" xsi:type="string">illustration</item>
                </item>
                <item name="photo_filter" xsi:type="array">
                    <item name="type" xsi:type="string">content_type_filter</item>
                    <item name="condition" xsi:type="string">or</item>
                    <item name="field" xsi:type="string">photo</item>
                </item>
                <item name="premium_filter" xsi:type="array">
                    <item name="type" xsi:type="string">premium_price_filter</item>
                    <item name="condition" xsi:type="string">eq</item>
                    <item name="field" xsi:type="string">ALL</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\AdobeStockImage\Model\Storage\Save">
        <arguments>
            <argument name="driver" xsi:type="object">Magento\Framework\Filesystem\Driver\Https</argument>
        </arguments>
    </type>
    <type name="Magento\AdobeStockImage\Model\GetRelatedImages">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="same_series" xsi:type="string">serie_id</item>
                <item name="same_model" xsi:type="string">model_id</item>
            </argument>
        </arguments>
    </type>
</config>
