<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\MediaGalleryUi\Model\Directories\FolderTree">
        <arguments>
            <argument name="path" xsi:type="string">media</argument>
        </arguments>
    </type>
    <type name="Magento\PageBuilder\Model\Config\ContentType\AdditionalData\Provider\Uploader\OpenDialogUrl">
        <arguments>
            <argument name="openDialogPath" xsi:type="array">
                <item name="media_gallery" xsi:type="string">media_gallery/index/index</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Config\Value">
        <plugin name="admin_system_config_adobe_stock_save_plugin" type="Magento\MediaGalleryUi\Plugin\MediaGalleryIndexerTrigger" sortOrder="1"/>
    </type>
    <type name="Magento\MediaGalleryUi\Model\GetImageDetailsByAssetId">
        <arguments>
            <argument name="imageTypes" xsi:type="array">
                <item name="image" xsi:type="string">Image</item>
            </argument>
        </arguments>
    </type>
</config>
