<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.2/phpunit.xsd"
         colors="true"
         columns="max"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="./framework/bootstrap.php"
>
    <testsuite name="Magento Adobe Stock Unit Tests">
        <directory suffix="Test.php">../../../app/code/Magento/Adobe*/Test/Unit/</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../../app/code/Adobe*/</directory>
            <exclude>
                <directory>../../../app/code/Magento/Adobe*/Test</directory>
                <directory suffix="registration.php">../../../app/code/Magento/Adobe*/</directory>
                <file>../../../app/code/Magento/AdobeStockAsset/Model/Asset.php</file>
                <file>../../../app/code/Magento/AdobeStockAsset/Model/Category.php</file>
                <file>../../../app/code/Magento/AdobeStockAsset/Model/Creator.php</file>
                <file>../../../app/code/Magento/AdobeStockAsset/Model/Keyword.php</file>
                <file>../../../app/code/Magento/AdobeStockAsset/Model/Config.php</file>
                <file>../../../app/code/Magento/AdobeStockAsset/Model/ResourceModel/Asset.php</file>
                <file>../../../app/code/Magento/AdobeStockAsset/Model/ResourceModel/Category.php</file>
                <file>../../../app/code/Magento/AdobeStockAsset/Model/ResourceModel/Creator.php</file>
                <file>../../../app/code/Magento/AdobeStockAsset/Model/ResourceModel/Asset/Collection.php</file>
                <file>../../../app/code/Magento/AdobeStockAsset/Model/ResourceModel/Category/Collection.php</file>
                <file>../../../app/code/Magento/AdobeStockAsset/Model/ResourceModel/Creator/Collection.php</file>
                <file>../../../app/code/Magento/AdobeStockClient/Model/UserQuota.php</file>
                <file>../../../app/code/Magento/AdobeStockClient/Model/Config.php</file>
                <file>../../../app/code/Magento/AdobeIms/Model/Config.php</file>
                <file>../../../app/code/Magento/AdobeIms/Model/UserProfile.php</file>
                <file>../../../app/code/Magento/AdobeIms/Model/OAuth/TokenResponse.php</file>
                <file>../../../app/code/Magento/AdobeIms/Model/ResourceModel/UserProfile.php</file>
                <file>../../../app/code/Magento/AdobeIms/Model/ResourceModel/UserProfile/Collection.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
