<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\AdobeStockClientApi\Api\ClientInterface" type="Magento\AdobeStockClient\Model\Client"/>
    <type name="Magento\AdobeStockClient\Model\Config">
        <arguments>
            <argument name="searchResultFields" xsi:type="array">
                <item name="0" xsi:type="string">ID</item>
                <item name="1" xsi:type="string">NB_RESULTS</item>
                <item name="2" xsi:type="string">COMP_URL</item>
                <item name="3" xsi:type="string">THUMBNAIL_240_URL</item>
                <item name="4" xsi:type="string">WIDTH</item>
                <item name="5" xsi:type="string">HEIGHT</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\AdobeStockClientApi\Api\ClientInterface">
        <arguments>
            <argument name="searchParametersProvider" xsi:type="object">Magento\AdobeStockClient\Model\SearchParametersProviderComposite</argument>
        </arguments>
    </type>
    <type name="Magento\AdobeStockClient\Model\SearchParametersProviderComposite">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="simpleFilters" xsi:type="object">Magento\AdobeStockClient\Model\SearchParametersProvider\SimpleFilters</item>
                <item name="pagination" xsi:type="object">Magento\AdobeStockClient\Model\SearchParametersProvider\Pagination</item>
                <item name="content_type_filter" xsi:type="object">Magento\AdobeStockClient\Model\SearchParametersProvider\ContentType</item>
                <item name="isolated_filter" xsi:type="object">Magento\AdobeStockClient\Model\SearchParametersProvider\Isolated</item>
                <item name="offensive_filter" xsi:type="object">Magento\AdobeStockClient\Model\SearchParametersProvider\Offensive</item>
                <item name="orientation_filter" xsi:type="object">Magento\AdobeStockClient\Model\SearchParametersProvider\Orientation</item>
                <item name="words" xsi:type="object">Magento\AdobeStockClient\Model\SearchParametersProvider\Words</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\AdobeStockClient\Model\SearchParametersProvider\SimpleFilters">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="premium_price_filter" xsi:type="string">setFilterPremium</item>
                <item name="colors_filter" xsi:type="string">setFilterColors</item>
            </argument>
        </arguments>
    </type>
</config>