<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\MediaGalleryUiApi\Api\ConfigInterface" type="Magento\MediaGalleryUi\Model\Config"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="media_gallery_listing_data_source" xsi:type="string">Magento\MediaGalleryUi\Ui\Component\Listing\Provider</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="mediaGallerySearchResult" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">media_gallery_asset_grid</argument>
            <argument name="resourceModel" xsi:type="string">Magento\MediaGalleryUi\Model\ResourceModel\Grid\Asset</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <arguments>
            <argument name="resizeParameters" xsi:type="array">
                <item name="height" xsi:type="number">200</item>
                <item name="width" xsi:type="number">200</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\MediaGalleryUi\Model\Directories\FolderTree">
        <arguments>
            <argument name="path" xsi:type="string">media</argument>
        </arguments>
    </type>
    <type name="Magento\MediaGalleryUi\Model\AssetDetailsProvider\Type">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="image" xsi:type="string">Image</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\MediaGallerySynchronization\Model\SynchronizeFiles">
        <plugin name="create_thumbnails_for_synced_fiels" type="Magento\MediaGalleryUi\Plugin\ResizeSyncedFiles"/>
    </type>

    <type name="Magento\MediaGalleryUi\Model\AssetDetailsProvider\UsedIn">
        <arguments>
            <argument name="contentTypes" xsi:type="array">
                <item name="catalog_category" xsi:type="string">Categories</item>
                <item name="catalog_category_single" xsi:type="string">Category</item>
                <item name="catalog_product" xsi:type="string">Products</item>
                <item name="catalog_product_single" xsi:type="string">Product</item>
                <item name="cms_block" xsi:type="string">Blocks</item>
                <item name="cms_block_single" xsi:type="string">Block</item>
                <item name="cms_page" xsi:type="string">Pages</item>
                <item name="cms_page_single" xsi:type="string">Page</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\MediaGalleryUi\Model\AssetDetailsProviderPool">
        <arguments>
            <argument name="detailsProviders" xsi:type="array">
                <item name="10" xsi:type="object">Magento\MediaGalleryUi\Model\AssetDetailsProvider\Type</item>
                <item name="20" xsi:type="object">Magento\MediaGalleryUi\Model\AssetDetailsProvider\CreatedAt</item>
                <item name="30" xsi:type="object">Magento\MediaGalleryUi\Model\AssetDetailsProvider\UpdatedAt</item>
                <item name="40" xsi:type="object">Magento\MediaGalleryUi\Model\AssetDetailsProvider\Width</item>
                <item name="50" xsi:type="object">Magento\MediaGalleryUi\Model\AssetDetailsProvider\Height</item>
                <item name="60" xsi:type="object">Magento\MediaGalleryUi\Model\AssetDetailsProvider\Size</item>
                <item name="70" xsi:type="object">Magento\MediaGalleryUi\Model\AssetDetailsProvider\UsedIn</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="mediaGalleryFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
                <item name="media_gallery_keyword" xsi:type="object">Magento\MediaGalleryUi\Ui\Component\DataProvider\KeywordFilter</item>
             </argument>
        </arguments>
    </virtualType>
    <virtualType name="mediaGalleryReporting" type="Magento\Framework\View\Element\UiComponent\DataProvider\Reporting">
        <arguments>
            <argument name="filterPool" xsi:type="object">mediaGalleryFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Magento\MediaGalleryUi\Model\Listing\DataProvider">
        <arguments>
            <argument name="reporting" xsi:type="object">mediaGalleryReporting</argument>
        </arguments>
    </type>
</config>
