<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\MediaGalleryUiApi\Api\ConfigInterface" type="Magento\MediaGalleryUi\Model\Config"/>
    <preference for="Magento\MediaGalleryUiApi\Api\ImagesIndexerInterface" type="Magento\MediaGalleryUi\Model\ImagesIndexer"/>
    <type name="Magento\MediaGalleryUiApi\Api\ImagesIndexerInterface">
        <arguments>
            <argument name="indexers" xsi:type="array">
                <item name="100" xsi:type="object">Magento\MediaGalleryUi\Model\AssetIndexer</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mediaGalleryIndexer" xsi:type="object">Magento\MediaGalleryUi\Console\Command\IndexAssets</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="media_gallery_listing_data_source" xsi:type="string">mediaGallerySearchResult</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="mediaGallerySearchResult" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">media_gallery_asset_grid</argument>
            <argument name="resourceModel" xsi:type="string">Magento\MediaGalleryUi\Model\ResourceModel\Grid\Asset</argument>
        </arguments>
    </virtualType>
    <type name="Magento\MediaGalleryApi\Model\Asset\Command\SaveInterface">
        <plugin name="updateAssetInGrid" type="Magento\MediaGalleryUi\Plugin\UpdateAssetInGrid"/>
    </type>
    <type name="Magento\MediaGalleryUi\Model\UpdateAssetInGrid">
        <arguments>
            <argument name="file" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
</config>
