<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\MediaContentApi\Api\AssignAssetInterface" type="Magento\MediaContent\Model\AssignAsset"/>
    <preference for="Magento\MediaContentApi\Api\UnassignAssetInterface" type="Magento\MediaContent\Model\UnassignAsset"/>
    <preference for="Magento\MediaContentApi\Api\GetAssetsUsedInContentInterface" type="Magento\MediaContent\Model\GetAssetsUsedInContent"/>
    <preference for="Magento\MediaContentApi\Api\GetContentWithAssetInterface" type="Magento\MediaContent\Model\GetContentWithAsset"/>
    <type name="Magento\MediaContent\Model\ExtractAssetFromContent">
        <arguments>
            <argument name="searchPatterns" xsi:type="array">
                <item name="media_gallery" xsi:type="string">/{{media url="?(.*?)"?}}/</item>
                <item name="catalog_image" xsi:type="string">/^\/?media\/(.*)/</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\MediaContent\Observer\CatalogCategory">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="image" xsi:type="string">image</item>
                <item name="description" xsi:type="string">description</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\MediaContent\Observer\CatalogProduct">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="description" xsi:type="string">description</item>
                <item name="short_description" xsi:type="string">short_description</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\MediaContent\Observer\CmsBlock">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="content" xsi:type="string">content</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\MediaContent\Observer\CmsPage">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="content" xsi:type="string">content</item>
            </argument>
        </arguments>
    </type>
</config>
