<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Block\Adminhtml\Wysiwyg\Images\Content">
        <plugin name="add_search_button" type="Magento\AdobeStockImageAdminUi\Plugin\AddSearchButton"/>
    </type>
    <type name="Magento\MediaGalleryUi\Model\GetImageDetailsByAssetId">
        <plugin name="add_adobe_stock_image_details_plugin" type="Magento\AdobeStockImageAdminUi\Plugin\AddAdobeStockImageDetailsPlugin"/>
    </type>
    <type name="Magento\MediaGalleryUi\Ui\Component\Listing\Columns\SourceIconProvider">
        <arguments>
            <argument name="sourceIcons" xsi:type="array">
                <item name="Adobe Stock" xsi:type="string">Magento_MediaGalleryUi::images/Astock.png</item>
            </argument>
        </arguments>
    </type>
</config>
